.greenborder{border-top:5px solid #9cbf23 !important;}
.paddingbottom-x{padding-bottom:10px !important;}
.padding-x{padding:18px;}
.background-green{background-color:#9cbf23;}
.lightgreen{color:#caeb52;}
.padding{padding:8px;}
.fontsize{font-size:20px;}
.background-black{background-color:#000000;}
.padding-10{padding:10px;}
.lightblack{color:#5b5b59;}
.margin-top{margin-top:35px;}
.green{color:#9cbf23;}
.padding-top{padding-top:1.5%;}
.padding-left{padding-left:25%;}
.spacing{ height: 30px}
.img_dim{ width: 333px; height: 188px}
.headings{ color: rgb(51,51,5); font-size: 25px; font-family: times,Times New Roman, times-roman, georgia, serif; font-weight: normal; text-shadow: 0 1px 1px #fff; padding: 0; margin-bottom: 0; padding-left: 10px; margin-top: 11px}
.blackborder{border-top: 5px solid #473D3D !important;}
#header_list{display: inline;}
#logo{position: absolute; top: 0px; left: 0px;}
#heading{position: absolute; top: 2px; left: 55px;}
